$bg: #13315b;
$default: #5555;
$accent: #3333;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}